/**** ACCORDION ****/

ul.standard-list-node-accordion{
	margin:0px;
	padding:0px;
}

ul.standard-list-node-accordion li.node-header-title{
	text-align:center;

}


/***** LIST *****/

ul.standard-list-node-list ul.node-header{
	margin:0px;
	padding:0px;
}




/********** INDEX PAGE ************/

li.node-header-title{
	width:90%;
}

li.node-header-info{
	width:10%;
}
li.node-header-info ul{
	margin:0px;
	padding:0px;
}


li.node-header-info ul{
	width:100%;
}
li.node-header-info{
	text-align:right;
}

li.node-header-info li{
	margin-right:5px;
}


.node-header li{
	display:inline-block;
}

.node-header-info{
	font-size:0.7em;
}

.navigation-icon{
	position:relative !important;
	margin:2px !important;
	left:0px !important;
	top:0px !important;
}

/********** SINGLE PAGE ************/

/*
ul.property-details{
	height:100%;
}

ul.properties-zone, ul.properties-zone ul{
	margin:0px;
	padding:0px;
}

ul.properties-zone li.property-box {
	margin:5px;
	width:100%;
}

ul.properties-zone li.property-title{
	width:20%;
	padding:5px;
	height:100%;
}
ul.properties-zone li.property-value{
	width:70%;
	padding:5px;
	height:100%;
}

ul.properties-zone li{
		list-style:none;
		display: inline-block;
		vertical-align:top;
}
*/


/*
li.property-name-value{

}

ul.properties-zone{
	margin:0px;
	padding:0px;
}

li.property-box{
	list-style:none;
	display:inline-block;
	vertical-align:top;
}

ul.property-details li{
	list-style:none;
	text-align:center;
	width:200px;
	margin:0px;
	padding:5px;
	border:1px solid #DAE8C4;
}

ul.property-details{
	margin:5px;
	padding:0px;
}


li.property-title, li.association-title-box{
	background-color:#DAE8C4;
	text-align:center;
	list-style:none;
}

ul.property-description-details li{
	width:600px;
}

li.association-title-box, li.association-values-box{
		border:1px solid #DAE8C4;
}

ul.association-link-box{
	margin-left:20px;
	padding:5px;
}

ul.association-box{
		margin:5px;
		padding:0px;
}

li.association-box, li.associations-box{
	list-style:none;
}


ul.associations-zone{
	margin:0px;
	padding:0px;
}*/