#top_of_page, ul.no-margin-padding{
	margin:0px;
	padding:0px;
}

.search-input-for-diagrams{
	height:22px;
}

.diagramNavigation-li a{
		width:22px;
	height:22px;
}

.diagramNavigation-li{
	list-style-image:none!important;

}

.diagramShare{
	 display:none; 
	color:white;
	padding:5px;
	position:absolute;
	top:100px;
	left:0px;	
	z-index:49; 
}
.diagramShare li{
	margin-bottom:2px;
	list-style:none;
}

canvas {display: block;}

#debugger{
	display:none;
	position:fixed;
}
.diagram-zone{
	width:100%;
	height:100%;
}

span.accordion{
	display:inline-block;
	margin-right:10px;
}



.diagramNavigation{

	padding:5px;
	padding-top:0px;
	margin-top:0px;
	position:absolute;

/*	top:0px;
	*/
	border:none;
	z-index:50;
}

.diagramNavigation li{
	margin-bottom:4px;
	list-style:none;
	z-index:205;
}

.copyClipboard{
	 z-index:50;
}

.diagramImage, .diagram-canvas{
 	width:100%;
	height:100%; 
	z-index:100;
}


.cameraHelper li{
	list-style:none;
}
.cameraHelper{
	display:none;
	position:absolute;
	right:0px;
	top:200px;
	width:250px;
	background-color:GREEN;
	opacity:0.7;
	margin:0px;
	color:white;
	padding:5px;
	z-index:200;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #999;
	background-color:  #EEE;
	color:#3E3E3E;
	border-radius:5px;
	-moz-border-radius:5px;		
	padding: 10px;
	font-size:10px;
	text-align:center;
}

.tooltip-left{
	text-align:left !important;
}

#tooltip h3{
	margin:0px;
	padding:0px;
}

.tooltip-custom{
}

.box-title{
/*
	text-align:center;
	margin:-5px;
	margin-bottom:20px;
	padding:5px;	
*/
	text-align:left;
	margin:0px;
	border-bottom:1px dotted #EEE;
	color:black;

}
div.titleHelp{
	float:right;
	font-size:10px;
	right:0px;
/* 	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);	 */
}

.page-object-name{
	position:absolute;
	padding:0px;
	margin:0px;
	top:5px;
	right:10px;
	z-index:200;
	color:white;
	margin:10px;
}

.page-title{
	padding:5px;
	display:none;
}

.ui-tabs .ui-tabs-nav li a span {
    float: left;
    margin-right: 5px;
}

.indexIcon{
	display:inline-block;
	width:16px;
	height:16px;
	margin:1px;
	float:right;
	border:none;
}

ul.list-box-detailed-accordion{
	margin:0px;
	padding:0px;
}

li.small-box{
	display:inline-block;
	vertical-align:top;
	width:200px;
	height:60px;
	margin:2px;
}

li.small-box div{
	text-align:center;
}

li.medium-box div{
	text-align:center;
	padding:5px;
}

li.medium-box{
	display:inline-block;
	vertical-align:top;
	width:400px;
	min-height:100px;
	margin:5px;
}

li.horizontal-list{
	display:inline-block;
	vertical-align:top;
	margin:2px;
}

li.horizontal-list div{
	text-align:center;
}