#top_of_page, ul.no-margin-padding{
	margin:0px;
	padding:0px;
}

/*canvas{
	border:2px solid #EEEEEE;
}

canvas.isSelected, div.diagram-zone.isSelected{
	border-color:#A2D0EA;
}
*/
div.diagram-zone, div.diagram-designer-zone{
	border:2px solid #EEEEEE;
}

div.diagram-zone-isSelected, div.diagram-designer-zone-isSelected{
	border-color:#A2D0EA;
}

.search-input-for-diagrams{
	height:22px;
}

.diagramNavigation-li a{
	width:22px;
	height:22px;
}

.diagramNavigation-li{
	list-style-image:none!important;
}

div.diagram-zone canvas, div.diagram-designer-zone canvas{
		float:left;
}

ul.diagramNavigation{
	display:none;
	padding:5px;
	padding-top:10px;
	margin:0px;
	position:absolute;
	border:none;
	z-index:50;
	float:left;
}

.diagramNavigation li{
	margin-bottom:4px;
	list-style:none;
	z-index:205;
}

.diagramShare{
	 display:none; 
	color:white;
	padding:5px;
	position:absolute;
	top:100px;
	left:0px;	
	z-index:49; 
}
.diagramShare li{
	margin-bottom:2px;
	list-style:none;
}
/*
canvas {display: block;}*/

#debugger{
	display:none !important;
	position:fixed;

}
.diagram-zone{
	width:95%;
	margin:10px auto 10px auto;
	height:100%;
}

.shapeTitle{
	width:100%;
	height:30px;
	background-color:green;
	color:white;
	font-size:20px;
	text-align:center;
}


.copyClipboard{
	 z-index:50;
}

.diagramImage, .diagram-canvas{
 	width:auto;
	height:auto;
	z-index:100;
}



.cameraHelper li{
	list-style:none;
}
.cameraHelper{
	display:none;
	position:absolute;
	right:0px;
	top:200px;
	width:250px;
	background-color:GREEN;
	opacity:0.7;
	margin:0px;
	color:white;
	padding:5px;
	z-index:200;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #999;
	background-color:  #EEE;
	color:#3E3E3E;
	border-radius:5px;
	-moz-border-radius:5px;		
	padding: 10px;
	font-size:10px;
	text-align:center;
}

.tooltip-left{
	text-align:left !important;
}

#tooltip h3{
	margin:0px;
	padding:0px;
}

.tooltip-custom{
}

.box-title{
/*
	text-align:center;
	margin:-5px;
	margin-bottom:20px;
	padding:5px;	
*/
	text-align:left;
	margin:0px;
	border-bottom:1px dotted #EEE;
	color:black;

}
div.titleHelp{
	float:right;
	font-size:10px;
	right:0px;
/* 	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);	 */
}

.page-object-name{
	position:absolute;
	padding:0px;
	margin:0px;
	top:5px;
	right:10px;
	z-index:200;
	color:white;
	margin:10px;
}

.page-title{
	padding:5px;
	display:none;
}

.ui-tabs .ui-tabs-nav li a span {
    float: left;
    margin-right: 5px;
}

.indexIcon{
	display:inline-block;
	width:16px;
	height:16px;
	margin:1px;
	float:right;
	border:none;
}

ul.list-box-detailed-accordion{
	margin:0px;
	padding:0px;
}

li.small-box{
	display:inline-block;
	vertical-align:top;
	width:200px;
	height:60px;
	margin:2px;
}

li.small-box div{
	text-align:center;
}

li.medium-box div{
	text-align:center;
	padding:5px;
}

li.medium-box{
	display:inline-block;
	vertical-align:top;
	width:400px;
	min-height:100px;
	margin:5px;
}

li.horizontal-list{
	display:inline-block;
	vertical-align:top;
	margin:2px;
}

li.horizontal-list div{
	text-align:center;
}

ul.cw-accordion-header{
  margin:0px;
  padding:0px;
}

li.cw-accordion-header{
	margin:10px;
	list-style:none;
}

div.cw-accordion-header{
   /*padding:10px;*/
   padding-left: 10px;
   text-align:left;
}

a.cw-accordion-header{
 font-size:14px;  
}

ul.cw-accordion-content{
	margin:0px;
}

div.cw-accordion-content{
	/*padding:10px 0px 10px 0px;*/
	padding: 10px;
}

span.accordion{
	display:inline-block;
	margin-right:10px;
	margin-top:10px;
}

/* cw-edit-property-options */
ul.cw-edit-property-options{
	margin:0px;
	padding: 0px;
	display: inline-block;
}

ul.cw-edit-property-options li, ul.cw-edit-property-options input{
	display: inline-block;
}


div.cw-canvas-header{
	width:100%;
	color:#004488;
	border-bottom:2px solid #D1E8F5;
	/*border-bottom:none;*/
	height:14px;
	font-size:12px;
}

div.cw-canvas-header a{
	font-size:12px;
	display: inline-block;
	cursor:pointer;
}

div.cw-canvas-header a.selected{
	font-weight:bold;
}


table.propertiesTable {
	width:100%;
}

table.propertiesTable th{
	width:30%;
}

table.propertiesTable td{
	width:70%;
}

canvas.world-map{
		border:2px solid #D1E8F5;
		border-radius:5px;
		moz-border-radius:5px;
		webkit-border-radius:5px;	
}